<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Otter and Fish</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
  <meta name="viewport" content="width=2732, user-scalable=no">
  <link rel="prefetch" href="/media_assets/otter/button/btn_no.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/button/btn_yes.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/card_still/card_no.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/card_still/card_yes.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/card_still/card_back.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/shared/otter_congrats.png" as="image" type="image/png" crossorigin="anonymous">
  <!-- <link rel="prefetch" href="/media_assets/shared/congratulations.png" as="image" type="image/png" crossorigin="anonymous"> -->
  <link rel="prefetch" href="/instructions/right-angle-arrow.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/animal_small/standing_right.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/animal_small/moving_right.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/animal_small/moving_left.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/media_assets/otter/animal_small/standing_left.png" as="image" type="image/png" crossorigin="anonymous">
  <!-- instruction -->
  <link rel="prefetch" href="/instructions/task_otter/standing_left_big.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/instructions/task_otter/standing_left_small.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/instructions/task_otter/flip_bg.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="prefetch" href="/instructions/task_otter/flip_yes.mp4" as="video" type="video/mp4" crossorigin="anonymous">
  <link rel="prefetch" href="/instructions/task_otter/flip_no.mp4" as="video" type="video/mp4" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style_task_otters.css">
</head>

<body>
  <div id="app-container">
    <div class="" id="content">
      <div onclick="void(0);">
        <div id="gameView" class="gameView">
          <div id="game-container">
            <!-- gameboard gets drawn here -->
            <div class="bunny" id="bunny"></div>
            <canvas class="animContainer" id="canvas-carrot"></canvas>
            <canvas class="animContainer" id="canvas-dirt"></canvas>
          </div>
          <div id="game-HUD" class="game-HUD">
            <!-- carrot or no carrot button goes here -->
            <div class="choice-card disabledChoiceCard" id="left" data-choice="0"></div>
            <div class="choice-card disabledChoiceCard" id="right" data-choice="1"></div>
          </div>

          <div id="feedback" class="feedback">Hello</div>
          <!-- <div id="clickArea" class="clickArea"></div>-->
          <!-- video container used to be here -->
          <!-- <div id="game-ui" class="game-ui">
            <p class="instruction" id="instruction"> Will there be a carrot or not? You have to guess!</p>
            <a class="cta start" href="#" id="startBtn"> Start the game</a>
          </div> -->
          <div class="demo">
            <h1 id="demo-msg">Let me show you how it's done.</h1>
            <div class="nextArrow" id="nextArrow"></div>
          </div>
          <div id="demo-left">
              <h2 id="demo-msg-left">press this button</h2><span class="arrow"> &#8594; </span> 
          </div>
          <div id="demo-right">
            <span class="arrow">&#8592;</span><h2 id="demo-msg-right">press this button</h2>
          </div>
          <div class="thanks-img">
            <!-- <h1 id="thanks-msg"> Thanks for your participation! </h1> -->
            <!-- <span class="sun"></span> -->
          </div>
          <div class="end-question-container">
            <div class="end-question-wrapper">
              <h1 id="end-question">Do you think the fish were grouped together on this path?</h1>
              <button id="clumpy-answer">Grouped</button>
              <button id="no-answer">Don't know</button>
              <button id="dispersed-answer">Not grouped</button>
            </div>
          </div>
          <!-- <div id="buttons">
            <a class="cta disabled" href="#" id="submit"> Finish </a>
            <a class="cta disabled" href="#/game" id="playback"> Play back </a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="instructionContainer" id="instructionContainer"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <script src='/media_assets/otter/card_anim/fish_yes.js'></script>
    <script src='/media_assets/otter/card_anim/fish_no.js'></script>
    <script src='/animations/cards/cardPositions_spiral.js'></script>
    <script type="module" src="/javascripts/task_otters.js"></script>
    <script src="/javascripts/howler/howler.js"></script>
</body>

</html>