@import url('https://fonts.googleapis.com/css?family=Nunito:100,400,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html,body {
  padding: 0;
  margin: 0;
  position: fixed;
  touch-action: manipulation;
  font-family: Nunito, Geneva, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  /* background: black; */
  overflow: hidden;
  /* background-color: #567a52; */
  /* background-color: #33561c; */
  background-color: #27343a;
}

body {
  cursor: pointer;
}

a:link {
  color: #000;
  text-decoration: none;
  margin-left: 1em;
}

a:visited {
  color: #828282;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid white;
}


.gray {
  margin-top: 0.25em;
  color: #828282;
}

.oragne {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgba(246,246,239,1);
}

button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px outset buttonface;
  cursor: pointer;
  max-width: 250px;
  margin-top: 1em;
}

input {
  width: 100%;
  /* height: 2em; */
  /* line-height: 2; */
  /* max-width: 500px; */
  font-family: monospace;
  font-size: 1.75rem;
  display: inline-block;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: white;
  cursor: text;
  margin:0;
  padding: 2px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image:initial;
}

.ageInputRow, .genderInputRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 5px 5px 5px 2px;
  font-size: 1.5rem;
}

input[type="radio"] {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
    width: 15px;
}
.genderOption {
  display: flex;
  justify-content: center;
  width: 30%;
  align-items: center;
}
.ageInputCol {
  flex: 1 1 40%;
}

.genderInputRow > input {

}


#app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* margin-right: auto;
  margin-left: auto; */
  /* background: black; */
}

.container {
  max-width: 750px;
  margin:auto;
  padding: 2em 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  background: #fff;
}

#content {
  background-color: rgb(246,246,239);
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  display: none;
  position: relative;
  /* padding: 0.5rem 1.2rem; */
}


#user-context {

}

.gameView {
  width: 100%;
  height: 100vh;
  /* background: rgba(0,0,0,0); */
  /* background-color: #567a52; */
  /* background-color: #33561c; */
  background-color: #27343a; /*#829999;*/
  position: relative;
  overflow: hidden;
}

.game-HUD {
  position: absolute;
  display: flex;
  justify-content:space-between;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;
  z-index: 10;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.feedback {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
  font-size: 3em;
  text-align: center;
  color: #333;
  /* background-color: yellow; */
  width: 600px;
  opacity: 0;
  display: none;
}

.bgCard {
  width: 250px;
  height: 218px;
  /* background: rgba(255,200,200,1); */
  position: absolute;
  /* background-image: url(/animations/cardBackTrimmed.png); */
  /* background-image: url(/assets/squirrel/card_still/card_back.png); */
  background-image: url(/media_assets/otter/card_still/card_back.png);
  background-repeat: no-repeat;
  background-position: center;
}

canvas.animContainer {
      width: 250px;
      height: 218px;
      overflow: hidden;
      position: absolute;
      left:0;
      top:0;
      z-index: 100;
      /* this is a hack - not sure why it doesnt line up correctly */
      transform: translate(-50%, -46%);
      visibility: hidden;
}

.currentCard {
  /* border: double red 10px; */
}

.bunny {
  width: 346px;
  height: 220px;
  /* border-radius: 50% 50%; */
  /* background: #fff; */
  position: absolute;
  z-index: 2;
  opacity: 0;
  display: none;
  /* background-image: url(/animations/rabbit/waitingRight.png); */
  /* background-image: url(/assets/squirrel/squirrel_small/squirrel_standing_right.png); */
  background-image: url(/media_assets/otter/animal_small/standing_right.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bunny-skipRight {
  /* background-image: url(/animations/rabbit/rightSkip.png); */
  /* background-image: url(/assets/squirrel/squirrel_small/squirrel_leaping_right.png); */
  background-image: url(/media_assets/otter/animal_small/moving_right.png);
}

.bunny-skipLeft {
  /* background-image: url(/animations/rabbit/leftSkip.png); */
  /* background-image: url(/assets/squirrel/squirrel_small/squirrel_leaping_left.png); */
  background-image: url(/media_assets/otter/animal_small/moving_left.png);
}

.bunny-waitingRight {
  /* background-image: url(/animations/rabbit/waitingRight.png); */
  /* background-image: url(/assets/squirrel/squirrel_small/squirrel_standing_right.png); */
  background-image: url(/media_assets/otter/animal_small/standing_right.png);
}

.bunny-waitingLeft {
  /* background-image: url(/animations/rabbit/waitingLeft.png); */
  /* background-image: url(/assets/squirrel/squirrel_small/squirrel_standing_left.png); */
  background-image: url(/media_assets/otter/animal_small/standing_left.png);
}

.choice-card {
  width: 340px;
  height: 341px;
  /* border-radius: 10px 10px; */
  /* background: yellow; */
  /* flex: 1 1 auto; */
  /* box-shadow: 0 0 50px rgba(0,0,0,1); */
  z-index: 10;
  /* background-image: url(/animations/carrot_button_3.png); */
  /* background-image: url(/assets/squirrel/button/btn_acorn.png); */
  background-image: url(/media_assets/otter/button/btn_yes.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.choice-card + .choice-card {
  margin-left: 220px;
}

.choice-card:active {
  /* border: 2px red solid; */
  background-position: 50% 0;
}

.choice-card:focus {
  /* border: 2px red solid; */
  background-position: 50% 0;
}

.activeChoiceCard {
  /* border: 2px red solid; */
  background-position: 50% 0;
}

.inactiveChoiceCard {
  /* border: 2px red solid; */
  background-position: 0 0;
}

.disabledChoiceCard {
  background-position: 100% 0;
}

div[data-choice='0'] {
  /* background-color: red; */
  /* this should be the clickable card face */
  /* background-image: url(dirtCardStillUntrimmed.png); */
  /* background-image: url(/animations/dirt_button_3.png); */
  /* background-image: url(/assets/squirrel/button/btn_no_acorn.png); */
  background-image: url(/media_assets/otter/button/btn_no.png);
}

div[data-choice="1"] {
  /* background-color: green; */
  /* background-image: url(/animations/carrot_button_3.png); */
  /* background-image: url(/assets/squirrel/button/btn_acorn.png); */
  background-image: url(/media_assets/otter/button/btn_yes.png);
  /* this should be the clickable card face */
  /* background-image: url(carrotCardStilluntrimmed.png); */
}

div[data-env="0"]{
  /* background-color: green; */
  /* background-image: url(/animations/dirtCardStillTrimmed.png); */
  /* background-image: url(/assets/squirrel/card_still/noacornfront.png); */
  background-image: url(/media_assets/otter/card_still/card_no.png);
  background-repeat: no-repeat;
  background-position: center;
}

div[data-env="1"]{
  /* background-color: orange; */
  /* background-image: url(/animations/carrotCardStillTrimmed.png); */
  /* background-image: url(/assets/squirrel/card_still/acornfront.png); */
  background-image: url(/media_assets/otter/card_still/card_yes.png);
  background-repeat: no-repeat;
  background-position: center;
}


.clickArea {
  width: 92.5vh;
  height: 92.5vh;
  /* border: 3px red solid; */
  background: rgba(0,0,0,0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.game-ui {
  position: absolute;
  text-align: center;
  width: 60%;
  margin: auto;
  top: 60%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 1.5em;
  letter-spacing: 2px;
  /* background: #333; */

  /* color: black; */
  /* pointer-events: none; */
}

.game-ui p {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(0,0,0,1);
}

.rainDrop {
  width:40px;
  height:40px;
  position:absolute;
  margin-left:-20px;
  margin-top:-20px;
  border-radius: 50%;
  /* -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); */
  -webkit-transform: translate3d(0,0,0);
  background: rgba(0,0,0,.5);
  position: absolute;
  /* mix-blend-mode: multiply; */
  z-index: 3;
}


/* a#submit {
  position: absolute;
  top: 0;
  right: 1em;
} */

a.cta {
  display: inline-block;
  padding: .5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  color: white;
  background: #ff5722;
  border-radius: 4px;
  transition: all .3s;
  font-size: 1.5rem;
}

a.start {
  /* background-color: #ca4036; */
  box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

/* a.inversed {
  color:#ff6600;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,.7);
} */

a.disabled {
  background-color: #ccc;
  pointer-events: none;
  transition: all .3s;
}

#buttons {
  display: none;
}

.title {
  color: white;
}

.instruction {
  color: ghostwhite;
}

.thanks {
  position: absolute;
  text-align: center;
  width: 60%;
  margin: auto;
  top: 60%;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 3em;
  color: white;
}

.thanks-img {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: -200px;
  left: 0;
  z-index: 2;
  background-image: url(/media_assets/shared/otter_congrats.png);
  background-size: cover;
}


.end-question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2;
}

.end-question-wrapper {
  padding-top: 60%; 
  font-size: 1.5em;
  max-width: 50%;
  font-weight: 400;
  color: #fff;
  /* text-shadow: 2px 2px 50px rgba(0,0,0,.99); */
}

.end-question-wrapper button {
  border: none;
  min-width: 200px;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 40px;
  background-color: gold;
  color: black;
  margin-right: 0.5em;
}


.thanks-en {
  /* background-image: url(/images/thanks/rE.png); */
  background-image: url(/media_assets/shared/otter_congrats.png);
}

.thanks-de {
  background-image: url(/images/thanks/rD.png);
}

.demo {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
  top: 58%;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
}

.demo h1 {
  font-size: 4em;
  margin-right: 1em;
  font-weight: 400;
}


.nextArrow {
  background-image: url(/instructions/right-angle-arrow.png);
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
}

#demo-left {
  position: absolute;
  display: flex;
  align-items: center;
  left: 10%;
  bottom: 6%;
  text-align: left;
  z-index: 2;
  color: white;
  display: none;
  opacity: 0;
}

#demo-right {
  position: absolute;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10%;
  bottom: 6%;
  text-align: left;
  z-index: 2;
  color: white;
  display: none;
  opacity: 0;
}

#demo-left h2, #demo-right h2 {
  font-size: 3.5em;
  font-weight: normal;
  margin-left: 1em;
}

#demo-left h2 {
  margin-left: 0;
  margin-right: 1em;
}

.arrow {
  font-size: 6em;
  color: white;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gold;
  display: block;
  margin: auto;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);

  /* -webkit-clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 22%); */
  /* clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 22%); */
  /* clip-path: */
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  pointer-events: none;
}
.video-container > video {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  min-width:100%;
  min-height:100%;
  pointer-events: none;
}



/*forms*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #3275ff
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  /* text-align:right; */
  /* width: 50%; */
  color: #666;
  font-size: 1.2em;
  line-height: 2;
}

.container h1 {
  margin-bottom: 1em;
}

.formRow {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  margin-bottom: 1em;
}

.timeLimitSwitch {
  flex-direction: row;
  align-items: center;
}

#timeLimitRow {
  display: none;
}

.switchWrapper {
  padding: 0;
  margin-left: .5em;
}

.instructionContainer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  /* background-image: url(/instructions/task3/apple_instruction_0.png); */
  /* background-size: cover; */
  /* background-color: #33561c; */
  background-color: #27343a;
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  z-index: 100;
}
.startBtnContainer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0,0,0,0.6); */
  /* background-color: seagreen; */
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  z-index: 100;
}

.instructionWrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  /* opacity: 0; */
  width: 100%;
  height: 100vh;
  /* background-color: #33561c; */
  background-color: #27343a;
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  z-index: 101;
  text-align: center;
}

.instructionWrapper > img.background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* z-index: 101; */
}

.instructionWrapper > img.foreground {
  position: absolute;
  top: 0;
  left: 0;
}

.instructionWrapper .instruction {
  position: absolute;
  color: white;
  font-size: 3em;
  width: 1020px;
  /* bottom: 10%;
  left: 50%; */
  /* transform: translate(-50%, 0); */
  /* z-index: 102; */
  display: none;
}

.instructionWrapper .nextBtn {
  background-image: url(/instructions/right-angle-arrow.png);
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 85%;
  right: 7%;
  display: none;
  pointer-events: none;
}



a#startBtn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.startGameButton {
  position: absolute;
  text-align: center;
  line-height: 200px;
  bottom: 4%;
  left: 55%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #00a2ff;
  width: 500px;
  height: 200px;
  font-size: 3em;
  border-radius: 50% 50%;
  box-shadow: 4px 4px 20px black;
}

.instructionWrapper > video {
  display: inline-block;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
