@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {
  padding: 0;
  margin: 0;
  position: fixed;
  touch-action: manipulation;
  font-family: Nunito, Geneva, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  /* background: black; */
  overflow: hidden;
  background-color: #567a52;
}

body {
  cursor: pointer;
}

a:link {
  color: #000;
  text-decoration: none;
  margin-left: 1em;
}

a:visited {
  color: #828282;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid white;
}


.gray {
  margin-top: 0.25em;
  color: #828282;
}

.oragne {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgba(246,246,239,1);
}

#interfaceContainer {
  visibility: hidden;
  pointer-events: none;
}

button {
  font-family: monospace;
  font-size: 1em;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px outset buttonface;
  cursor: pointer;
  max-width: 250px;
  margin-top: 1em;
}

input, textarea {
  width: 100%;
  /* height: 2em; */
  /* line-height: 2; */
  /* max-width: 500px; */
  font-family: Nunito, Geneva, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  background-color: white;
  cursor: text;
  margin:0;
  padding: 2px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image:initial;
}

.ageInputRow, .genderInputRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

select {
  padding: 5px 5px 5px 2px;
  font-size: 1.2rem;
}

input[type="radio"] {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
    width: 15px;
}
.genderOption {
  display: flex;
  justify-content: center;
  width: 30%;
  align-items: center;
}
.ageInputCol {
  /* flex: 1 1 40%; */
  margin-right: 10%;
}

.genderInputRow > input {

}
/* radiobutton inputs  */
/* The container */
.radioBtnContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.radioBtnContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioBtnContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioBtnContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioBtnContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioBtnContainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.inputAgeSubjectNum {
  /* display: none; */
}

.inputGender {
  display: none;
}
/* end of radio button input */
#app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* margin-right: auto;
  margin-left: auto; */
  /* background: black; */
}

.container {
  max-width: 750px;
  margin:auto;
  padding: 2em 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  background: #fff;
}

#content {
  background-color: rgb(246,246, 239);
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  display: none;
  position: relative;
  /* padding: 0.5rem 1.2rem; */
}


#user-context {

}

.gameView {
  width: 100%;
  height: 100vh;
  /* background: rgba(0,0,0,0); */
  background-color: #567a52;
  position: relative;
  overflow: hidden;
}

.game-HUD {
  position: absolute;
  display: flex;
  justify-content:space-between;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;
  z-index: 10;
}

.feedback {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
  font-size: 3em;
  text-align: center;
  color: #333;
  /* background-color: yellow; */
  width: 600px;
  opacity: 0;
  display: none;
}

.bgCard {
  width: 250px;
  height: 218px;
  /* background: rgba(255,200,200,1); */
  position: absolute;
  background-image: url(animations/cardBackTrimmed.png);
  background-repeat: no-repeat;
  background-position: center;
}

canvas.animContainer {
      width: 250px;
      height: 218px;
      overflow: hidden;
      position: absolute;
      left:0;
      top:0;
      z-index: 100;
      /* this is a hack - not sure why it doesnt line up correctly */
      transform: translate(-50%, -46%);
      visibility: hidden;
}

.currentCard {
  /* border: double red 10px; */
}

.bunny {
  width: 166px;
  height: 220px;
  /* border-radius: 50% 50%; */
  /* background: #fff; */
  position: absolute;
  z-index: 2;
  opacity: 0;
  display: none;
  background-image: url(animations/rabbit/waitingRight.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bunny-skipRight {
  background-image: url(animations/rabbit/rightSkip.png);
}

.bunny-skipLeft {
  background-image: url(animations/rabbit/leftSkip.png);
}

.bunny-waitingRight {
  background-image: url(animations/rabbit/waitingRight.png);
}

.bunny-waitingLeft {
  background-image: url(animations/rabbit/waitingLeft.png);
}

.choice-card {
  width: 340px;
  height: 341px;
  /* border-radius: 10px 10px; */
  /* background: yellow; */
  /* flex: 1 1 auto; */
  /* box-shadow: 0 0 50px rgba(0,0,0,1); */
  z-index: 10;
  background-image: url(animations/carrot_button.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.choice-card + .choice-card {
  margin-left: 50px;
}

.choice-card:active {
  /* border: 2px red solid; */
  background-position: 100% 0;
}

.choice-card:focus {
  /* border: 2px red solid; */
  background-position: 100% 0;
}

.activeChoiceCard {
  /* border: 2px red solid; */
  background-position: 100% 0;
}

.inactiveChoiceCard {
  /* border: 2px red solid; */
  background-position: 0 0;
}

div[data-choice='0'] {
  /* background-color: red; */
  /* this should be the clickable card face */
  /* background-image: url(dirtCardStillUntrimmed.png); */
  background-image: url(animations/dirt_button.png);
}

div[data-choice="1"] {
  /* background-color: green; */
  background-image: url(animations/carrot_button.png);
  /* this should be the clickable card face */
  /* background-image: url(carrotCardStilluntrimmed.png); */
}

div[data-env="0"]{
  /* background-color: green; */
  background-image: url(animations/dirtCardStillTrimmed.png);
  background-repeat: no-repeat;
  background-position: center;
}

div[data-env="1"]{
  /* background-color: orange; */
  background-image: url(animations/carrotCardStillTrimmed.png);
  background-repeat: no-repeat;
  background-position: center;
}


.clickArea {
  width: 92.5vh;
  height: 92.5vh;
  /* border: 3px red solid; */
  background: rgba(0,0,0,0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.game-ui {
  position: absolute;
  text-align: center;
  width: 60%;
  margin: auto;
  top: 80%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 1.3em;
  letter-spacing: 2px;
  /* background: #333; */

  /* color: black; */
  /* pointer-events: none; */
}

.game-ui p {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(0,0,0,1);
}

.rainDrop {
  width:40px;
  height:40px;
  position:absolute;
  margin-left:-20px;
  margin-top:-20px;
  border-radius: 50%;
  /* -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); */
  -webkit-transform: translate3d(0,0,0);
  background: rgba(0,0,0,.5);
  position: absolute;
  /* mix-blend-mode: multiply; */
  z-index: 3;
}


/* a#submit {
  position: absolute;
  top: 0;
  right: 1em;
} */

a.cta {
  display: inline-block;
  padding: .5em 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  color: white;
  background: #ff5722;
  border-radius: 4px;
  transition: all .3s;
  font-size: 1rem;
}

a.start {
  /* background-color: #ca4036; */
  box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

/* a.inversed {
  color:#ff6600;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,.7);
} */

a.disabled {
  background-color: #ccc;
  pointer-events: none;
  transition: all .3s;
}

#buttons {
  display: none;
}

.title {
  color: white;
}

.instruction {
  color: ghostwhite;
}

.thanks {
  position: absolute;
  text-align: center;
  width: 60%;
  margin: auto;
  top: 42.5%;
  left: 0;
  right: 0;
  z-index: 2;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gold;
  display: block;
  margin: auto;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);

  /* -webkit-clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 22%); */
  /* clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 22%); */
  /* clip-path: */
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  pointer-events: none;
}
.video-container > video {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  min-width:100%;
  min-height:100%;
  pointer-events: none;
}

/*forms*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #3275ff
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

select.error {
  border: 1px red solid;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  /* text-align:right; */
  /* width: 50%; */
  color: #666;
  font-size: 1.2em;
  line-height: 2;
}

label.error {
  color: #F30;
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;
}

.container h1 {
  margin-bottom: 1em;
}

.formRow {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  margin-bottom: 1.5em;
}

.formRowFlex {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.flexLeft {
  justify-content: flex-start;
}

.dropdownExtend {
  flex: 1;
}

.inlineLabel {
  margin-right: 1em;
}

.labelBold {
  font-weight: bold;
}

.formRowCenter {
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: #ccc 1px solid;
  margin-left: 2em;
  border-radius: 10px;
}

.activeCheckBox {
  width: 30px;
  height: 30px;
  border: #444 1px solid;
  margin-left: 2em;
}

.checked {
  background-color: seagreen;
}

.subjectInfo {
  display: none;
}

#subjectInfoLabel {
  margin-bottom: 1em;
  line-height: 1;
}

#tryAgain {
  display: none;
}

.subjectInfoInput {
  display: none;
}

a#generateNewIDButton {
  /* text-decoration: underline;
  font-style: italic; */
  color: seagreen;
  margin-left: 0;
  background-color: white;
  border: seagreen 1px solid;
}

a#generateNewIDButton.disabled {
  color: #ccc;
  pointer-events: none;
  background-color: #fff;
  border-color: #ccc;
}

a#startNewTestBtn.disabled {
  display: none;
}

.startNewTestBtn {
  text-align: center;
}

.timeLimitSwitch {
  flex-direction: row;
  align-items: center;
}

#timeLimitRow {
  display: none;
}

.switchWrapper {
  padding: 0;
  margin-left: .5em;
}

#spinner{
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  z-index: 1000;
  pointer-events: none;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}
